

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.Blocks;
<div class='container-fluid'>
    <div class='container global-projects'>
        <div class='header'>Project & Case Studies</div>
        <div><h3>Let's Look at Our Global Projects</h3></div>
        <div class='global-projects-grid'>
            @{
                var projectItems = Model.Value<IEnumerable<BlockListItem>>("projectCases").Select(x => x.Content).ToList();

                foreach (var project in projectItems)
                {
                    var image = project.Value<IPublishedContent>("projectImage");
                    var title = project.Value<string>("projectTitle");
                    var link = project.Value<string>("projectLink");

                    <div class='item'>
                        <div class="card">
                            <img src="@image.Url()" class="card-img-top" alt="@title" />
                            <div class="card-body">
                                <h5 class="card-title">@title</h5>
                                <div class='d-grid gp-btn'>
                                    <a href="@link" class='gp-btn'>Read More&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
        <button class='black-btn mt-5 mb-5'>All Recent Projects &nbsp;&nbsp; <i class="fa-solid fa-arrow-up-right"></i></button>
    </div>
</div>
