@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <div class='container-fluid showcase'>
      
            <div class='container showcase-header d-flex justify-content-start pb-5'>
                <div class='showcase-desc'>
                    <h3>We Provide The Best Business Solutions</h3>
                    <div>Establish your vision and value proposition and turn them into testable <br />prototypes.</div>
                    <div className='d-flex'>
                        <button class='me-2'>Get Consulting <i class="fa-solid fa-arrow-up-right"></i></button>
                        <button class='learnmore'>Learn More <i class="fa-solid fa-arrow-up-right"></i></button>
                    </div>
                </div>
        <div class='showcase-img'><img src="~/images/background-effects/showcase-image.svg" alt="" /></div>
        <div class='bgline-showcase'><img src="~/images/background-effects/background-lines.svg" alt="" /></div>
            </div>
          
        </div>