
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
        <div class='container-fluid team-members'>
                    <div class='container d-block'>
                        <div class='header'>Meet Our Team</div>
                
                    </div>
                    <div class='container headliner'>
                        <div><h3>Experience Team Members</h3></div>
                        <div class='team-btn'>
                            <button>Browse Team&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right"></i></button>
                        </div>
                    </div>
            
              
                <div class='container member-grid'>
       

        @{

            var variants = Model.Value<IEnumerable<BlockListItem>>("team").Select(x => x.Content);
            foreach (var variant in variants)
            {
                IPublishedContent teamImageContent = variant.Value<IPublishedContent>("teamImage");
                string teamImageUrl = teamImageContent?.Url();
                <div class="member">
                    <div class="card">
                        <img src="@teamImageUrl" alt="@variant.Value("teamName")" />
                        <div class="card-body">
                            <h5 class="card-title">@variant.Value("teamName")</h5>
                            <p class="card-text">@variant.Value("teamTitle")</p>
                        </div>
                    </div>
                </div>
            
            }
        }



                   
                </div>
        </div>
      