@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
  <div class='container-fluid features-grid mt-5 justify-content-center'>
            <div><div class='header'>Features</div>
            <h3>@Model.Value("aboutHeader")
        </h3><div class='lrn-btn'>
            <div><a class="btn-theme-learnmore" href="#">Learn More&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right"></i></a> </div>
        </div>
    </div>
            <div class='features-desc'>
        <a href="#" class='item'>
      
                <div><img src="~/images/abouticons/businessadvice.png" alt="" /></div><div>
                    <h5>
                        Business Advice
                    </h5><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
         
        </a>
        <a href="#" class='item'><div><img src="~/images/abouticons/startup.png"  alt="" /></div><div><h5>
                    Startup Business</h5><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p></div></a>
        <a href="#" class='item'>
            <div><img src="~/images/abouticons/financialadvice.png" alt="" /></div><div>
                <h5>
                    Financial Advice</h5><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p></div></a>
        <ahref ="#" class='item'>
            <div><img src="~/images/abouticons/riskmanagement.png" alt="" /></div><div>
                <h5>
                    Risk Management</h5><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p></div></ahref>
            </div>
          </div>  