@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class='container-fluid footer'>
    <div class='container footercontent'>
        <div class='footer-grid'>
            <div class='item'><h3><img src="~/images/logotypes/logotype-white.svg" alt="" /></h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p></div>
            <div class='item'>
                <h3>Company</h3>
            <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Works</a></li>
                    <li><a href="#">Career</a></li>
            </ul>
            </div>
            <div class='item'>
            <h3>Help</h3>
            <ul>
                    <li><a href="#">Customer Support</a></li>
                    <li><a href="#">Delivery Details</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
            </ul>
            </div>
            <div class='item'>
            <h3>Resources</h3>
            <ul>
                    <li><a href="#">Free eBooks</a></li>
                    <li><a href="#">Development Tutorials</a></li>
                    <li><a href="#">How to - Blog</a></li>
                    <li><a href="#" target="_blank">Youtube Playlist</a></li>
            </ul>
            </div>
            <div class='item'>
            <h3>Link</h3>
            <ul>
                    <li><a href="#">Free eBooks</a></li>
                    <li><a href="#" >Development Tutorials</a></li>
                    <li><a href="#">How to - Blog</a></li>
                    <li><a href="#" target="_blank">Youtube Playlist</a></li>
            </ul>
            </div>
       
        </div>
      
    </div>
    <div class='bgline'><img src="~/images/background-effects/background-lines-white-right.svg" alt="" /></div>
    <div class='footer-border'>&nbsp;</div>
    <div class='container footer-bottom'>
            <div>@DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</div>
        <div class='icons'>
            <span><a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></span>
            <span><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></span>
            <span><a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></span>
            <span><a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a></span>
                  </div>
        </div>
</div>